html,
body {
    scroll-behavior: smooth;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.background {
    background-image: url("assets\\main.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
}

/* NAVIGATION */
.nav {
    position: absolute;
    margin: 0px;
    width: 90vw;
    margin-bottom: 0;
    display: flex;
    transition: opacity 0.4s;
    overflow: hidden;
    z-index: 10;
    padding-top: 40px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav-menu-butts {
    margin-left: auto;
}

.nav-butt {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    border: 0;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s;
}

.nav-butt:hover,
.nav-butt-bott:hover {
    color: #F4981C !important;
}

.nav-butt::after,
.nav-butt-bott::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F4981C;
    transition: transform 0.25s ease-out;
}

.nav-butt:hover::after,
.nav-butt-bott:hover::after {
    transform: scaleX(1);
}

.nav-bottom {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    display: flex;
    position: fixed;
    width: 90vw;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.144);
    /* background: linear-gradient(292.19deg, rgba(255, 255, 255, 0.144) 24.47%, rgba(255, 255, 255, 0.03) 80.1%); */
    box-shadow: 0px 4px 24px -1px #000000;
    backdrop-filter: blur(20px);
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
    z-index: 10;
}

.nav-butt-bott {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #000000;
    border: 0;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s, text-decoration 0.25s;
}

.nav-bott-icon {
    position: relative;
    top: 8px;
    width: 15px;
    height: 30px;
    margin-right: 10px;
}

.burger {
    display: none;
    pointer-events: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 10px;
    transition: 0.4s;
}

.change .bar1 {
    transition: 0.4s;
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    transition: 0.4s;
    opacity: 0;
}

.change .bar3 {
    transition: 0.4s;
    transform: translate(0, -11px) rotate(45deg);
}

.dropdown {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    padding-bottom: 39px;
    bottom: 0;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.144);
    /* background: linear-gradient(292.19deg, rgba(255, 255, 255, 0.144) 24.47%, rgba(255, 255, 255, 0.03) 80.1%); */
    box-shadow: 0px 4px 24px -1px #000000;
    backdrop-filter: blur(20px);
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
}

/* MAIN SITE */
.main-site {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main-site-logo {
    position: absolute;
    content: url("assets\\logo.png");
    alt: "logo";
    top: 20vh;
    width: 125px;
    height: 122px;
}

.main-site-title-fly {
    position: absolute;
    top: 34vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.2em;
    text-align: center;
    filter: blur(0px);
    color: #FFFFFF;
    transition: filter 2s, top 2s;
}

.main-site-title {
    position: absolute;
    top: 38vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.main-site-opinions {
    position: absolute;
    bottom: 10vh;
    width: 447px;
    height: 94px;
    background: linear-gradient(292.19deg, rgba(251, 169, 25, 0.4) 24.47%, rgba(251, 169, 25, 0.4) 80.1%);
    box-shadow: 0px 4px 24px -1px #000000;
    backdrop-filter: blur(20px);
    border-radius: 50px;
    transition: 0.4s;
    border: none;
}

.main-site-opinions:hover,
.main-site-bottom-but:hover {
    transform: scale(1.1);
}

.main-site-opinions-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0;
}

.main-site-bottom-but {
    position: absolute;
    bottom: -60px;
    width: 447px;
    height: 119px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.144);
    /* background: linear-gradient(292.19deg, rgba(255, 255, 255, 0.144) 24.47%, rgba(255, 255, 255, 0.03) 80.1%); */
    box-shadow: 0px 4px 24px -1px #000000;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    transition: 0.4s;
    border: none;
}

.main-site-bottom-but-text {
    position: relative;
    top: -30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    opacity: 0.5;
}

/* OFFER SITE */
.offer-site {
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer-site-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    margin-top: 30px;
    width: 100vw;
}

.offer-site-title {
    margin-right: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.offer-site-cont {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offer-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
}

.offer-circle:hover {
    transform: scale(1.1);
}

.offer-circle-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.offer-circle-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.offer-site-cont-boxes {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-site-box {
    width: 493px;
    min-height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 39px;
    padding-left: 45px;
    padding-right: 45px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.offer-site-box-title {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.offer-site-box-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.offer-site-box-but {
    width: 255px;
    height: 42px;
    background: linear-gradient(292.19deg, #FBA919 24.47%, rgba(251, 169, 25, 0.5) 80.11%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-left: auto;
    margin-top: auto;
    padding: 0;
    transition: 0.4s;
    border: none;
}

.offer-site-box-but:hover {
    transform: scale(1.1);
}

.offer-site-box-but-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

/* RECOMMENDATION SITE */
.recomendations-site {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.filter-but {
    position: absolute;
    right: 1%;
    margin-top: 1%;
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.3s;
    z-index: 2;
    border: none;
}

.filter-but:hover,
.sprawdz-but:hover {
    background: gray;
}

.sprawdz-but {
    position: absolute;
    margin-top: 1%;
    left: 1%;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: background-color 0.3s;
    z-index: 1;
    border: none;
}

.map-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 8px;
    text-align: center;
    color: #000000;
}

.window-over-map {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    pointer-events: none;
    overflow: hidden;
}

.window-over-map>* {
    pointer-events: all;
}

.filter-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 80%;
    right: -300px;
    padding: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    transition: right 0.4s;
    overflow-x: hidden;
    z-index: 1;
}

.filter-but-close {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.filter-select {
    width: 100%;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 30px;
}

.filter-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: #000000;
}

select {
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

select option:checked {
    background-color: #ddd;
}

.submit-but,
.clear-but {
    height: 40px;
    position: relative;
    width: 100%;
    background: linear-gradient(292.19deg, #FBA919 24.47%, rgba(251, 169, 25, 0.5) 80.11%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.4);
    /* backdrop-filter: blur(20px); */
    border-radius: 10px;
    margin-left: auto;
    margin-top: 15px;
    padding: 0;
    transition: 0.4s;
    border: none;
}

.submit-but:hover,
.clear-but:hover {
    transform: scale(1.1);
}

.modal {
    display: block;
    pointer-events: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: opacity 0.4s ease; */
    overflow: auto;
}

.modal-window {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
}

.modal-results-text {
    position: fixed;
    position: fixed;
    left: 4%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    z-index: 3;
    color: #FFFFFF;
}

.recomendation-box {
    width: 30vw;
    min-width: 400px;
    min-height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.recomendation-box-content {
    width: 100%;
}

.emblem {
    width: auto;
    height: 60%;
}

.recomendation-box-but {
    width: 80%;
    padding: 3px;
    min-height: fit-content;
    background: linear-gradient(292.19deg, #FBA919 24.47%, rgba(251, 169, 25, 0.5) 80.11%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.4);
    /* backdrop-filter: blur(20px); */
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

.recomendation-box-but:hover {
    transform: scale(1.1);
}

.close-but {
    position: fixed;
    right: 2%;
    top: 10px;
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: background-color 0.3s;
    z-index: 2;
    border: none;
}

.close-but:hover {
    background-color: gray;
}

/* COTACT SITE */
.contact-site {
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.contact-site-cont-boxes {
    width: 85vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.contact-site-box-a,
.contact-site-box-b,
.contact-site-box-c,
.contact-site-box-d {
    width: 540px;
    height: 274px;
    background: linear-gradient(292.19deg, rgba(255, 255, 255, 0.144) 24.47%, rgba(255, 255, 255, 0.03) 80.1%);
    box-shadow: 0px 4px 24px -1px #000000;
    backdrop-filter: blur(20px);
    padding: 0px;
    margin: 10px;
    display: flex;
}

.contact-site-box-a {
    border-radius: 50px 50px 50px 0px;
}

.contact-site-box-a-content {
    max-width: 540px;
    background: #FFFFFF;
    border-radius: 0px 50px 50px 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-site-box-b {
    border-radius: 50px 0px 50px 50px;
}

.contact-site-box-b-content {
    max-width: 540px;
    max-height: 274px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px 0px 50px 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-site-box-b-icon-letter {
    position: absolute;
    width: 66px;
    height: 44px;
    right: 80px;
    top: 100px;
}

.contact-site-box-b-icon-phone {
    position: absolute;
    width: 73px;
    height: 72.45px;
    right: 20px;
    bottom: 20px;
}

.contact-site-box-c {
    border-radius: 0px 50px 50px 50px;
}

.contact-site-box-c-content {
    max-width: 540px;
    height: 274px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px 50px 50px 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-site-box-c-icon-planet {
    position: absolute;
    width: 61.12px;
    height: 48.42px;
    float: right;
    top: 15px;
    right: 30px;
}

.contact-site-box-c-icon-rocket {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 80px;
    height: 80px;
}

.contact-site-box-c-but {
    position: absolute;
    width: 50%;
    max-width: 300px;
    height: 42px;
    right: 30px;
    bottom: 40px;
    background: linear-gradient(292.19deg, #FBA919 24.47%, rgba(251, 169, 25, 0.5) 80.11%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transition: 0.4s;
    border: none;
}

.contact-site-box-c-but:hover {
    transform: scale(1.1);
}

.contact-site-box-d {
    border-radius: 50px 50px 0px 50px;
}

.contact-site-box-d-content {
    max-width: 540px;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-site-box-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.contact-site-box-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.contact-site-box-text-bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

.contact-img-a {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 50px 0px 0px 0px;
}

.contact-img-d {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 50px 0px 0px;
}

@media screen and (max-width: 700px) {

    .main-site-logo,
    .main-site-title-fly,
    .main-site-title,
    .main-site-bottom-but,
    .main-site-opinions {
        transform: scale(0.8);
        transform-origin: top center;
    }

    .main-site-opinions:hover,
    .main-site-bottom-but:hover {
        transform: scale(0.9);
    }

    .recomendation-box {
        flex-wrap: wrap;
    }

    .recomendation-box-but {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .main-site-logo,
    .main-site-title-fly,
    .main-site-title,
    .main-site-bottom-but,
    .main-site-opinions {
        transform: scale(0.7);
        transform-origin: top center;
    }

    .main-site-opinions:hover,
    .main-site-bottom-but:hover {
        transform: scale(0.8);
    }

    .offer-site-box-title {
        font-size: 20px;
    }

    .offer-site-box-text {
        font-size: 14px;
    }

    .offer-site-box {
        padding: 20px;
    }

    .sprawdz-but {
        margin-top: 50px;
    }
}

@media screen and (max-width: 400px) {

    .main-site-logo,
    .main-site-title-fly,
    .main-site-title,
    .main-site-bottom-but,
    .main-site-opinions {
        transform: scale(0.6);
        transform-origin: top center;
    }

    .main-site-opinions:hover,
    .main-site-bottom-but:hover {
        transform: scale(0.7);
    }

    .contact-site-box-d-content,
    .contact-site-box-a-content {
        padding-right: 5px;
    }

    .offer-site-box-but {
        width: 100%;
    }
}

@media screen and (max-height: 600px) {

    .main-site-logo,
    .main-site-title-fly,
    .main-site-title,
    .main-site-opinions,
    .main-site-bottom-but {
        position: relative;
        margin: 0px;
    }

    .main-site-opinions {
        margin-top: 300px;
    }

    .main-site-bottom-but {
        bottom: 40px;
    }
}

@media screen and (max-width: 600px) {
    .contact-img-d,
    .contact-img-a {
        display: none;
    }
    .contact-site-box-d-content,
    .contact-site-box-a-content {
        padding-right: 5px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 950px) {

    .nav-menu-butts,
    .nav-butt-bott,
    .nav-butt {
        display: none;
    }

    .nav,
    .nav-bottom {
        display: flex;
        justify-content: center;
    }

    .burger {
        display: inline-block;
        pointer-events: inherit;
    }

    .dropdown>* {
        display: inline-block;
    }
}

@media screen and (min-width: 951px) {

    .burger,
    .dropdown {
        display: none;
        pointer-events: none;
    }

    .dropdown>* {
        display: none;
    }
}

@media screen and (max-width: 1317px) {

    .contact-site-box-a {
        order: 1;
    }

    .contact-site-box-b {
        order: 3;
    }

    .contact-site-box-c {
        order: 4;
    }

    .contact-site-box-d {
        order: 2;
    }
}

@media screen and (max-width: 1019px) {
    .recomendation-box {
        width: 50vw;
        min-width: unset;
        height: auto;
        justify-content: center;
    }
}

/* MAP */
#map {
    width: 90%;
    height: 90%;
    z-index: 0;
    border-radius: 10px;
    position: absolute;
}

.leaflet-bottom.leaflet-right {
    bottom: 10px;
}

.leaflet-control-zoom {
    position: relative;
    bottom: -60vh;
}
